.footer {
    margin-top: 3%;
    background-color: #051444;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.social-links a:hover {
    text-decoration: underline;
    color: blue;
}